#!/bin/bash

set -X

cur_dir=`pwd`
CGO_LDFLAGS="-L$cur_dir -lCXTPApi -lxtpquoteapi -lxtptraderapi" LD_LIBRARY_PATH="$cur_dir" \
    ./go_xtp_trader --file strategy_d.json --host 0.0.0.0:18080 \                                   
    --username [username] --password [password] --softkey [softkey] \
    --traderhost 120.27.164.69 --traderport 6001 \                                                                                                                                                                                                                                                                                                      
    --quotehost 120.27.164.138 --quoteport 6002
